@font-face {
    font-family: 'Effra';
    src: url('vendors/fonts/Effra_Std_He.woff') format('woff'),
    url('vendors/fonts/Effra_Std_He.svg') format('svg');
}
@font-face {
    font-family: 'ITC';
    src: url('vendors/fonts/itc-avant-garde-gothic-std-book-condensed-5864f68c397c8.woff') format('woff'),
    url('vendors/fonts/itc-avant-garde-gothic-std-book-condensed-5864f68c397c8.svg') format('svg');
}
@font-face {
    font-family: 'Source';
    src: url('vendors/fonts/SourceSansPro-Regular.woff') format('woff'),
    url('vendors/fonts/SourceSansPro-Regular.svg') format('svg');
}
@font-face {
    font-family: 'Knockout';
    src: url('vendors/fonts/ufonts.com_knockout-htf47-bantamweight.woff') format('woff'),
    url('vendors/fonts/ufonts.com_knockout-htf47-bantamweight.svg') format('svg');
}
@font-face {
    font-family: 'DIN';
    src: url('vendors/fonts/dincond-bold-opentype.woff') format('woff'),
    url('vendors/fonts/dincond-bold-opentype.svg') format('svg');
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - general - - - - - - - - - - - - - - - - - - - - */
body{
    background-color: #001b27;
}
input, textarea{
    background: transparent;
    border: none;
    color: #e93131;
    border-bottom: 2px solid rgba(255, 255, 255, .8);
    margin-bottom: 35px;
    text-transform: uppercase;
    font-family: 'ITC';
    display: block;
    font-size: 16px;
    width: 95%;
    max-width: 498px;
    letter-spacing: 0.8px;
}
textarea{
    height: 26px;
}
input:focus, textarea:focus{
    outline: none;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #e93131 !important;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color: #e93131 !important;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #e93131 !important;
}
button{
    letter-spacing: 0.8px;
}
.container{
    padding: 0px 10px;
}
@media(min-width: 768px) {
    .container{
        padding: 0px 15px;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - what is - - - - - - - - - - - - - - - - - - - - */
.what-is .banner-div{
    position: relative;
    margin-top: 10px;
}
.what-is hr{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin: 0px 5px;
}
.navigator{
    display: inline-block;
    width: 20px;
    position: fixed;
    right: 7%;
    top: 45%;
    opacity: 0.8;
    text-align: center;
    z-index: 2;
}
.what-is .logo{
    padding: 16px 15px;
}
.what-is .email-us{
    margin-top: 31px;
}
.what-is .circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid white;
}
header{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}
.sphera-logo{

}
.email-us{
    float: right;
}
.sound-legal{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Knockout';
    letter-spacing: 2px;
    font-size: 23px;
    padding: 0px 15px 0px;
}
.sound-legal p{
    margin: 0px;
}
.sound-legal .sound{
    position: relative;
    float: left;
}
.sound .strike-through{
    width: 100%;
    display: inline-block;
    position: absolute;
    left: 0px;
    height: 25%;
    border-bottom: 1px solid #e93131;
}
.sound-legal .arrow{
    display: inline-block;
}
.sound-legal .legal{
    float: right;
}
.what-is .text-div .intro-p{
    margin-bottom: 92px;
}
.text-div ul{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Knockout';
    letter-spacing: 2px;
    font-size: 23px;
    margin-bottom: 120px;
}
.text-div ul li{
    padding: 0px 70px;
}
.text-div li img{
    margin-bottom: 28px;
}
@media(min-width: 768px) {
    .what-is .logo{
        padding: 28px 35px;
    }
    .what-is .email-us{
        margin-top: 33px;
    }
    .sound-legal{
        padding: 0px 35px 15px;
    }
    .text-div ul li {
        padding: 0px 37px;
    }
    .text-div li img{
        width: 57px;
    }
}
@media(min-width: 992px) {
    .text-div ul li {
        padding: 0px 50px;
    }
    .text-div li img{
        width: auto;
    }
}
@media(min-width: 1200px) {

}
/* - - - - - - - - - - - - - - - - - - - - - - - - - about and experience - - - - - - - - - - - - - - - - - - - - */
.about .video, .experience .video, .what-is .video{
    background: url('../assets/contact-bg.jpg') no-repeat 10% 0;
    height: 619px;
    background-size: cover;
}
.about h2, .experience h2, .what-is h1{
    color: #e93131;
    text-transform: uppercase;
    font-family: 'Knockout';
    letter-spacing: 1.5px;
    font-size: 23px;
    display: inline-block;
    border-bottom: 1px solid;
    line-height: 11px;
    padding: 0px 2px;
    margin-bottom: 40px;
    margin-top: 200px;
}
.about p, .experience p, .what-is .intro-p{
    font-family: 'ITC';
    color: white;
    width: 75%;
    display: inline-block;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 232px;
}
@media(min-width: 768px) {
    .about .video, .experience .video, .what-is .video{
        height: 637px;
        background-position: 0%;
    }
    .about p, .experience p, .what-is .intro-p {
        width: 535px;
        line-height: 32px;
    }
}
@media(min-width: 992px) {

}
@media(min-width: 1200px) {

}
/* - - - - - - - - - - - - - - - - - - - - - - - - - contact - - - - - - - - - - - - - - - - - - - - */
.contact .container{
    position: relative;
}
#contactForm{
    top: 0px;
    position: absolute;
    height: 100%;
    width: calc(100% - 30px);
    padding-left: 25px;
}
#contactForm h2{
    color: #e93131;
    text-transform: uppercase;
    font-family: 'Effra';
    letter-spacing: 1.5px;
    font-size: 24px;
    margin-bottom: 50px;
    line-height: 35px;
}
#contactForm .submit-holder{
    width: 95%;
    max-width: 498px;
}
#contactForm button{
    color: #e93131;
    text-transform: uppercase;
    float: right;
    padding-right: 0px;
    background: transparent;
    border: none;
}
#contactForm button img{
    width: 22px;
    margin-left: 6px;
}
.contact .video{
    background: url('../assets/contact-bg.jpg') no-repeat 10% 0;
    height: 619px;
    background-size: cover;
}
@media(min-width: 768px) {
    #contactForm{
        background-color: rgba(8, 29, 40, 0.25);
    }
    .contact .video{
        height: 637px;
        background-position: 0%;
    }
}
@media(min-width: 992px) {
    #contactForm{
        padding-left: 137px;
        padding-top: 80px;
    }
    #contactForm h2{
        letter-spacing: 1.6px;
        font-size: 28px;
        margin-bottom: 44px;
        line-height: 40px;
    }
}
@media(min-width: 1200px) {
    #contactForm{
        padding-left: 157px;
        padding-top: 100px;
    }
    #contactForm h2{
        letter-spacing: 2px;
        font-size: 30px;
        margin-bottom: 50px;
        line-height: 43px;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - footer - - - - - - - - - - - - - - - - - - - - */
footer .container{
    padding: 20px 0px;
}
.footer-logos, .social-share{
    text-align: center;
    padding: 0px 15px;
}
.footer-logos img{
    width: 94px;
    padding: 0px 8px 20px;
}
.social-share img{
    padding: 0px 4px;
}
@media(min-width: 768px) {
    footer .container{
        padding: 30px 0px;
    }
    .footer-logos{
        float: left;
    }
    .social-share{
        float: right;
        position: relative;
        top: 50%;
        transform: translateY(85%);
    }
    .footer-logos img{
        width: auto;
        padding-bottom: 0px;
    }
}