@font-face {
    font-family: 'Effra';
    src: url('vendors/fonts/Effra_Std_He.woff') format('woff'),
    url('vendors/fonts/Effra_Std_He.svg') format('svg');
}
@font-face {
    font-family: 'ITC';
    src: url('vendors/fonts/itc-avant-garde-gothic-std-book-condensed-5864f68c397c8.woff') format('woff'),
    url('vendors/fonts/itc-avant-garde-gothic-std-book-condensed-5864f68c397c8.svg') format('svg');
}
@font-face {
    font-family: 'Source';
    src: url('vendors/fonts/SourceSansPro-Regular.woff') format('woff'),
    url('vendors/fonts/SourceSansPro-Regular.svg') format('svg');
}
@font-face {
    font-family: 'Knockout';
    src: url('vendors/fonts/ufonts.com_knockout-htf47-bantamweight.woff') format('woff'),
    url('vendors/fonts/ufonts.com_knockout-htf47-bantamweight.svg') format('svg');
}
body{
    background-color: #001b27;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - contact - - - - - - - - - - - - - - - - - - - - */


/* - - - - - - - - - - - - - - - - - - - - - - - - - footer - - - - - - - - - - - - - - - - - - - - */
footer .container{
    padding: 20px 0px;
}
.footer-logos, .social-share{
    text-align: center;
}
.footer-logos img{
    width: 94px;
    padding: 0px 8px 20px;
}
.social-share img{
    padding: 0px 4px;
}
@media(min-width: 768px) {
    .footer-logos{
        float: left;
    }
    .social-share{
        float: right;
        position: relative;
        top: 50%;
        transform: translateY(100%);
    }
    .footer-logos img{
        width: auto;
        padding-bottom: 0px;
    }
}